.header {
    background-color: #A1B7C8;
    min-height: 60px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 124px;
}

.header__contacts {
    position: absolute;
    height: 0;
    top: 61px;
    left: 0;
    right: 0;
    color: #ffffff;
    background-color: #A1B7C8;
    overflow: hidden;
    -webkit-transition: height .4s ease-in-out;
    -o-transition: height .4s ease-in-out;
    -moz-transition: height .4s ease-in-out;
    transition: height .4s ease-in-out;
}

.header__contacts_open {
    height: auto;
}

.header__contacts-menu {
    display: block;
    width: 27px;
    height: 14px;
    background-image: url("../img/menu.svg");
}

.contacts__list {
    padding: 30px 15px;
}

.contacts__item {
    margin-bottom: 50px;
}

.contacts__item:last-child {
    margin-bottom: 0;
}

.contacts__head {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.contacts__head_social {
    margin-bottom: 12px;
}

.contacts__link {
    font-size: 16px;
    line-height: 22px;
}

.contacts__social-list {
    display: flex;
}

.contacts__social-item:not(:last-child) {
    margin-right: 18px;
}

.contacts__social-link {
    display: block;
    width: 26px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__social-link_whatsup {
    background-image: url("../img/whatsup.svg");
}

.contacts__social-link_instagram {
    background-image: url("../img/instagram.svg");
}

.contacts__social-link_facebook {
    background-image: url("../img/facebook.svg");
}

.contacts__social-link_telegram {
    background-image: url("../img/telegram.svg");
}

@media (min-width: 768px) {

    .header {
        min-height: 100px;
        padding: 28px 0;
    }

    .header__contacts {
        top: 101px;
    }

    .header__logo {
        width: 180px;
    }

    .contacts__list {
        display: flex;
        justify-content: space-between;
    }

    .contacts__item {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {

    .header {
        padding: 50px 0;
        width: 240px;
    }

    .header__container {
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 20px;
    }

    .header__contacts-menu {
        display: none;
    }

    .header__contacts {
        display: block;
        position: static;
        padding: 0;
    }

    .contacts__list {
        flex-direction: column;
    }

    .contacts__item:not(:last-child) {
        margin-bottom: 50px;
    }

}

@media (min-width: 1440px) {

    .header {
        padding-top: 60px;
        width: 355px;
    }

}